<!-- Agregar la ruta relativa a los includes correspondientes -->
<%- include('./../template/header.ejs', { title: 'Mascotas' }) -%>
    <div class="container">
        <h1>CRUD Mascotas MHenriquez</h1>

        <div class="d-grid gap-2 d-md-block my-4">
            <a class="btn btn-primary" href="/mascotas/create" role="button">Crear mascota</a>
        </div>
        
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
            <% if (mascotas.length > 0) { %>
                <% mascotas.forEach(mascota => { %>
                <tr>
                    <th scope="row"><%= mascota._id %></th>
                    <td><%= mascota.nombre %></td>
                    <td><%= mascota.descripcion %></td>
                    <td>
                        <a 
                        class="btn btn-sm btn-success" 
                        href="/mascotas/<%= mascota._id %>" 
                        role="button" 
                        title="Mostrar" 
                        aria-label="Mostrar"
                        >
                            <i class="fa-solid fa-eye"></i>
                        </a>
                    </td>
                </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="4">No hay mascotas disponibles 😭</td>
                </tr>
            <% }  %>
            </tbody>
        </table>
    </div>
<%- include('./../template/footer.ejs') -%>
 