<!-- Agregar la ruta relativa a los includes correspondientes -->
<%- include('./../template/header.ejs', { title: 'Mascotas - Show' }) -%>
    <div class="container">
        <h1>Detalles de la mascota</h1>

        <div class="d-grid gap-2 d-md-block my-4">
            <a class="btn btn-dark" href="/mascotas" role="button">
                <i class="fa-solid fa-arrow-left"></i> Volver
            </a>
        </div>

        <% if (error) { %>
            <p><%= message %></p>
        <% } else { %>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><%= mascota._id %></th>
                        <td><%= mascota.nombre %></td>
                        <td><%= mascota.descripcion %></td>
                        <td>
                            <a 
                            class="btn btn-sm btn-info" 
                            href="/mascotas/<%= mascota._id %>/edit"
                            role="button" 
                            title="Editar" 
                            aria-label="Editar"
                            >
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        <% } %>
    </div>
<%- include('./../template/footer.ejs') -%>
 